.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.main-firehouse {
  height: 80%;
  margin: 0 auto;
  text-align: center;
}

header {
  height: 10vh;
  background-color: #ee;
}

main {
  height: 83vh;
  background-color: #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


footer {
  height: 7vh;
  background-color: lightgrey;
}
