.flex-container {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
}

.flex-item {
  flex-basis: 22%;
  background-color: #d9d9d9;
  font-family: 'Abel', sans-serif;
  font-size: 28px;
  border-radius: 10px;
  margin: 4px;
  text-align: center;
  padding: 12px 0 12px 0;
}

#screen {
  flex-basis: 67%;
  max-width: 270px;
  background-color: #000000;
  color: white;
  text-align: right;
  padding: 0 12px 0 0;
}

.operator {
  background-color: #ff751a;
  color: white;
}
