<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>New York City Firehouses</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <img src="" alt="">
    <h1>New York City Firehouses</h1>
    <nav>Firehouses</nav>
  </header>
  <main>
    <div class="show-container">
      <img class="main-firehouse" src="images/firehouse.jpg" alt="">
      <div class="details">
        <p>Name</p>
        <p>Location</p>
        <p>Details</p>
      </div>
    </div>
    <div class="list-container">
      <div class="firehouse-item">
        <img src="images/square.png" alt="">
        <div class="list-item-details">
          <p>Name</p>
          <p>Address</p>
        </div>
      </div>
      <div class="firehouse-item">
        <img src="" alt="">
        <p>Name</p>
        <p>Address</p>
      </div>
      <div class="firehouse-item">
        <img src="" alt="">
        <p>Name</p>
        <p>Address</p>
      </div>
      <div class="firehouse-item">
        <img src="" alt="">
        <p>Name</p>
        <p>Address</p>
      </div>
      <div class="firehouse-item">
        <img src="" alt="">
        <p>Name</p>
        <p>Address</p>
      </div>
    </div>
  </main>
  <footer>
    <a href="/">Home</a>
    <p>This data is provided by New York City Open Data</p>
  </footer>
</body>
</html>
